body {
    background-color: #f8f9fa;
}
.hero {
    background: url("../bg/Funky-Wallpaper.jpg") center/cover no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    display: inline-block;
    animation: typing 3s steps(30, end), blink-caret 0.55s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 30%; }
}

@keyframes blink-caret {
    50% { border-color: transparent; }
}
footer {
    color: white;
    padding: 20px 0;
    text-align: center;
}

.btn-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

.btn-hover:hover {
    transform: scale(1.1); /* Memperbesar tombol saat hover */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Memberikan bayangan saat hover */
}
